footer {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: relative; }
footer .sections {
    padding: 0px 0px;
    padding-top: -10px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background: #ab2b21;
    z-index: 1; }
footer .sections:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #9532c7;
    top: 0; }
footer .sections .section {
    color: white;
    text-align: center; }
footer .sections .section:first-child {
    display: flex;
    align-items: center;
    flex-direction: column; }
footer .sections .section:first-child .messegers {
    background: transparent;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; }
footer .sections .section:first-child .messegers ul {
    display: flex;
    margin: 0; }
footer .sections .section:first-child .messegers ul li {
    list-style: none;
    margin: 0 4px; }
footer .sections .section:first-child .messegers ul li:nth-child(1) a:before {
    background: #c30e4d; }
footer .sections .section:first-child .messegers ul li:nth-child(2) a:before {
    background: #385498; }
footer .sections .section:first-child .messegers ul li:nth-child(3) a:before {
    background: #4f7db3; }
footer .sections .section:first-child .messegers ul li:nth-child(4) a:before {
    background: red; }
footer .sections .section:first-child .messegers ul li:nth-child(4) a {
    font-size: 23px; }
footer .sections .section:first-child .messegers ul li a {
	font-size: 23px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: .5s;
    position: relative;
    color: white; }
footer .sections .section:first-child .messegers ul li a:hover {
    color: white;
    animation: rot .25s linear; }
footer .sections .section:first-child .messegers ul li a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: .5s; }
footer .sections .section:first-child .messegers ul li a:hover:before {
    transform: scale(1.1); }
footer .sections .section:first-child .messegers ul li a i {
    z-index: 3; }
footer .sections .title {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding-left: 20px;
    margin-top: -5px;
    margin-bottom: 5px; }
footer .sections .section .spisok ul li a {
    font-size: 14px; }

@keyframes rot {
    0% {
        transform: rotate(0deg); }
    25% {
        transform: rotate(90deg); }
    50% {
        transform: rotate(180deg); }
    75% {
        transform: rotate(270deg); }
    100% {
        transform: rotate(360deg); } }
