/*----------------------------
MENU
---------------------------- */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

/*.header {*/
/*	font-family: 'PT Sans', sans-serif;*/
/*	font-size: 16px;*/
/*	line-height: 24px;*/
/*	font-weight: 400;*/
/*	color: #212112;*/
/*	background-position: center;*/
/*	background-repeat: repeat;*/
/*	background-size: 7%;*/
/*	background-color: #fff;*/
/*	overflow-x: hidden;*/
/*    transition: all 200ms linear;*/
/*    height: 100vh;*/
/*}*/

.nav > li > a {
    position: relative;
    display: block !important;
    padding: 10px 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.navbar-nav > li > a {
    color: #fff !important;
    line-height: 20px !important;
    padding-top: 30px !important;
}

.navbar-nav > li > a:hover {
	color: #5cb85c !important;
}

.navbar-brands img{
	height: 40px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
	margin-top: 20px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: #037394;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    margin-bottom: 20px;
}

.navbar-inverse
.navbar-collapse,
.navbar-inverse
.navbar-form {
    border-color: #3e3e3e !important;
    background: #037394 !important;
}

.dropdown-menu > li > a:hover {
    background-color: #037394 !important;
	background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
	background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
	background-image: linear-gradient(to bottom,#037394 0,#037394 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.dropdown-menu > li > a:hover {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff !important;
    white-space: nowrap;
}

.navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #080808;

}

.navbar-inverse
.navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-image: linear-gradient(to bottom,#080808 0,#037394 100%) !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff !important;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 12px !important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #037394 !important;

}

@media (max-width: 767px) {
	.navbar-brands img{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding-left: 10px !important;
	}

	.navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
	}

	.navbar-nav .open .dropdown-menu > li > a {
    color: #fff !important;
	}

	.navbar-nav .open .dropdown-menu > li > a:hover {
    color: #9d9d9d !important;
	}

}

.btns {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid
    transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    float: right;
    margin-right: 100px;
    margin-top: -47px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid
	rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/*----------------------------
FOOTER
---------------------------- */
.footer {
	background: #037394;
}

.footer__back {
	background: #037394;
}

.footer__messegers{
	padding-top: 5px;
	padding-bottom: 5px;
}

.footer__messegers ul{
	display: flex;
  	margin: 0;
}

.footer__messegers ul li{
	list-style: none;
	margin: 0 1px;
}
.footer__messegers ul li a{
	text-decoration: none;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	transition: .5s;
	position: relative;
}

.footer__messegers ul li a:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	transition: .5s;
}
.footer__messegers ul li a:hover:before{
	transform: scale(1);
}

.footer__messegers ul li a{
	color: white !important;
}
.footer__messegers ul li:nth-child(4) a{
	font-size: 30px;
}

.footer__messegers ul li a:hover{
        color: #fff !important;

}
.footer__messegers ul li:nth-child(1) a:before{
	background: #037394;
}
.footer__messegers ul li:nth-child(1) a:hover{
	background: #037394;
}
.footer__messegers ul li:nth-child(2) a:before{
	background: #037394;
}
.footer__messegers ul li:nth-child(2) a:hover{
	background: #037394;
}
.footer__messegers ul li:nth-child(3) a:before{
	background: #037394;
}
.footer__messegers ul li:nth-child(3) a:hover{
	background: #037394;
}
.footer__messegers ul li:nth-child(4) a:before{
	background: #037394;
}
.footer__messegers ul li:nth-child(4) a:hover{
	background: #037394;
}


@keyframes rot{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(90deg);
	}
	50%{
		transform: rotate(180deg);
	}
	75%{
		transform: rotate(270deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.footer__text {
	display: flex;
	margin-top: -45px;
	padding-bottom: 5px;
	color: #fff;
	float: right;
}

@media (max-width: 991px) {
	.footer__text {
	text-align: center;
}
.footer__text p {
text-align: center;
	}
}

@media (max-width: 767px) {
	.footer__text {
	margin-top: -15px;
	font-size: 13px;
}

.footer__text p {
text-align: center;
	}

}
