.roadmap {
  background: linear-gradient(55deg, #4E75B9 30%, #5CBF98 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 12vh 100px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.timeline {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  -webkit-box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 15px);
    bottom: 0px;
    width: 4px;
    background: #ddd;
}
.timeline:after {
    content: "";
    display: table;
    clear: both;
}
.entry  {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title  {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}
.entry .title :before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border: 4px solid salmon;
      background-color: #fff;
      border-radius: 100%;
      top: 15%;
      right: -8px;
      z-index: 99;
}
.entry .title h3  {
      margin: 0;
      font-size: 120%;
}
.entry .title p  {
      margin: 0;
      font-size: 100%;
}
.entry .body  {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
}
.entry .body p  {
      line-height: 1.4em;
}
.entry .body p :first-child {
        margin-top: 0;
        font-weight: 400;
}
.entry .body ul  {
      color: #aaa;
      padding-left: 0;
      list-style-type: none;
}
.entry .body ul li :before {
        content: "\2013";
        margin-right: .5em;
}