<p class="currency__header">
    Платеж по платежной системе
</p>
<div class="text-center">
    <img src="./assets/images/form-logo.png" alt="qr">
</div>
<div class="text-center">
    <img src="./assets/images/qr.png" alt="qr">
</div>
<form action="/">
    <p class="text-bold text-center">Идентификатор транзакции</p>
    <div class="form-group"><input type="text"></div>
    <p class=" text-center">Мы подтвердим оплату и вы получите токены на свой кошелек</p>
    <p class="agreement-text">Нажимая "Отправить", вы даёте согласие на обработку своих персональных данных в соответствии с Федеральным законом №152-ФЗ «О персональных данных» и принимаете условия
        <a href="#">Пользовательского соглашения</a></p>
    <div class="text-center">
        <input type="submit" value="Отправить" class="avatar-btn">
    </div>
</form>