ul.countdown {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    display: block;
    text-align: center;
}
ul.countdown li {
    display: inline-block;
}
ul.countdown li span {
    font-size: 40px;
    font-weight: 300;
    line-height: 80px;
}
ul.countdown li.seperator {
    font-size:30px;
    line-height: 70px;
    vertical-align: top;
}
ul.countdown li p {
    color: #000;
    font-size: 13px;
    text-align: center;
    margin-top: -10px;
}


ul.countdown2 {
    list-style: none;
    margin: 5px 0 0 20px;
    padding: 0;
    display: block;
    text-align: center;
}
ul.countdown2 li {
    display: inline-block;
}
ul.countdown2 li span {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
}
ul.countdown2 li.seperator {
    font-size:20px;
    line-height: 30px;
    vertical-align: top;
}
ul.countdown2 li p {
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-top: -10px;
}