@import url("https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none; }

html {
    height: 100%; }

body {
    /*display: flex;*/
    flex-direction: column;
    height: 100%;
    margin-bottom: 0 !important;
    }

.tabs {
    width: 100%;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif; }
.tabs .tabs-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #037394 0%, black 130%); }
.tabs .tabs-header .logo {
    width: 10%;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px; }
.tabs .tabs-header .logo img {
    height: 100%; }
.tabs .tabs-header .burg {
    display: none; }
.tabs .tabs-header .menu_lk {
    display: flex;
    width: 90%; }
.tabs .tabs-header .menu_lk .menu {
    width: 88%; }
.tabs .tabs-header .menu_lk .menu .burg_open {
    display: none; }
.tabs .tabs-header .menu_lk .menu ul {
    display: flex;
    justify-content: center;
    user-select: none;
    margin-bottom: 0;}
.tabs .tabs-header .menu_lk .menu ul li:last-child a:before {
    width: 0px; }
.tabs .tabs-header .menu_lk .menu ul a {
    height: 65px;
    border: 0;
    margin: 5px 0 0 0;
    cursor: pointer;
    display: flex;
    padding: 0 15px 0 10px;
    border-radius: 5px 5px 0 0;
    position: relative; }
.tabs .tabs-header .menu_lk .menu ul a.active {
    background: white; }
.tabs .tabs-header .menu_lk .menu ul a.active .icon {
    color: #9432c6; }
.tabs .tabs-header .menu_lk .menu ul a.active .text {
    color: #9432c6; }
.tabs .tabs-header .menu_lk .menu ul a.active:hover .icon {
    padding-bottom: 0px; }
.tabs .tabs-header .menu_lk .menu ul a.active:before {
    opacity: 0; }
.tabs .tabs-header .menu_lk .menu ul a:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 70%;
    background: #7160a8; }
.tabs .tabs-header .menu_lk .menu ul a .icon {
    height: 100%;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 10px; }
.tabs .tabs-header .menu_lk .menu ul a .text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px; }
.tabs .tabs-header .menu_lk .menu ul a:hover .icon {
    padding-bottom: 3px;
    box-sizing: border-box; }
.tabs .tabs-header .menu_lk .menu ul a:hover .text:before {
    position: absolute;
    content: '';
    background: white;
    bottom: 24px;
    width: 100%;
    height: 1px; }
.tabs .tabs-header .menu_lk .lk {
    user-select: none;
    width: 12%;
    height: 50px;
    border: 0;
    margin: auto 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative; }
.tabs .tabs-header .menu_lk .lk:before {
    display: none; }
.tabs .tabs-header .menu_lk .lk .img {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-size: 14px; }
.tabs .tabs-header .menu_lk .lk .img img {
    width: 100%; }
.tabs .tabs-header .menu_lk .lk .icon {
    height: 100%;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; }
.tabs .tabs-header .menu_lk .lk .icon i {
    padding-top: 10px;
    box-sizing: border-box; }
.tabs .tabs-header .menu_lk .lk .icon i.act {
    padding-bottom: 18px;
    transform: rotate(180deg); }
.tabs .tabs-header .menu_lk .lk ul {
    right: 0;
    top: 60px;
    display: none;
    position: absolute;
    width: 150%;
    background: #230b2e;
    border-radius: 0 0 0px 10px;
    overflow: hidden;
    z-index: 3; }
.tabs .tabs-header .menu_lk .lk ul.act {
    display: block; }
.tabs .tabs-header .menu_lk .lk ul li {
    width: 100%; }
.tabs .tabs-header .menu_lk .lk ul li:last-child a {
    border: none; }
.tabs .tabs-header .menu_lk .lk ul li a {
    text-decoration: none !important;
    margin: 0;
    color: white;
    height: auto;
    font-size: 14px;
    background: #230b2e;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #037394; }
.tabs .tabs-header .menu_lk .lk ul li a:hover {
    background: #037394; }
.tabs .tabs-header .menu_lk .lk ul li a:before {
    display: none; }

.packages {
    width: 100%; }
.packages .packages_section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
.packages .packages_section .package {
    position: relative;
    /*margin: 5px;*/
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s;
    padding: 10px; }
.packages .packages_section .package:hover:before {
    left: -50%;
    transition: 0.3s; }
.packages .packages_section .package .text {
    font-size: 20px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    z-index: 2; }
.packages .packages_section .package .fon {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/krist1.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; }
.packages .packages_section .package:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: -110%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-13deg);
    background-size: 200%; }
.packages .packages_section .package:nth-child(1) {
    padding: 10px 20px;
    background: #8500cc;
    width: 100%;
    margin-bottom: 10px; }
.packages .packages_section .package:nth-child(2) {
    background: #cee000;
    width: calc(50% - 25px);
    margin: 0 5px 10px 0; }
.packages .packages_section .package:nth-child(3) {
    background: #e6a800;
    width: calc(50% - 25px);
    margin: 0 0 10px 5px; }
.packages .packages_section .package:nth-child(4) {
    background: #ff1414;
    width: calc(50% - 25px);
    margin: 0 5px 0 0; }
.packages .packages_section .package:nth-child(5) {
    background: #00b050;
    width: calc(50% - 25px);
    margin: 0 0 0 5px; }

.number_packages {
    font-size: 24px;
    font-weight: bold; }

.bookmarks {
    width: 80%;
    margin: 30px auto;
    font-family: 'Montserrat', sans-serif; }

.bookmarks .bookmarks-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    border-bottom: 1px solid #9131c2;
    padding-left: 10px; }

.bookmarks .bookmarks-header .bookmarks-header__item {
    padding: 10px 15px;
    border: 0;
    margin: 10px 0 0 0;
    cursor: pointer;
    margin-bottom: -1px;
    position: relative;
    color: black; }

.bookmarks .bookmarks-header .bookmarks-header__item:hover {
    color: #9131c2;
    border: 1px solid #9131c2;
    border-bottom: none;
    background: white;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0; }

.bookmarks .bookmarks-header .bookmarks-header__item.active {
    color: #9131c2;
    border: 1px solid #9131c2;
    border-bottom: none;
    background: white;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0; }

.bookmarks .bookmarks-header .bookmarks-header__item.active:hover {
    padding: 10px 15px; }

.bookmarks .bookmarks-content {
    border-bottom: 0 solid #9131c2;
    border-top: 0;
    background: white;
    color: black; }

.bookmarks .bookmarks-content__item {
    display: none;
    padding: 30px 0; }

.bookmarks .bookmarks-content__item img {
    width: 100%; }

.bookmarks .bookmarks-content__item.active {
    display: block; }

footer {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: relative; }
footer .sections {
    padding: 0px 0;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    background: #037394;
    z-index: 1; }
footer .sections:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #9532c7;
    top: 0; }
footer .sections .section {
    color: white;
    text-align: center; }
footer .sections .section:first-child {
    display: flex;
    align-items: center;
    flex-direction: column; }
footer .sections .section:first-child .messegers {
    background: transparent;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; }
footer .sections .section:first-child .messegers ul {
    display: flex;
    margin: 0; }
footer .sections .section:first-child .messegers ul li {
    list-style: none;
    margin: 0 1px; }
footer .sections .section:first-child .messegers ul li:nth-child(1) a:before {
    background: #c30e4d; }
footer .sections .section:first-child .messegers ul li:nth-child(2) a:before {
    background: #385498; }
footer .sections .section:first-child .messegers ul li:nth-child(3) a:before {
    background: #4f7db3; }
footer .sections .section:first-child .messegers ul li:nth-child(4) a:before {
    background: red; }
footer .sections .section:first-child .messegers ul li:nth-child(4) a {
    font-size: 25px; }
footer .sections .section:first-child .messegers ul li a {
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: .5s;
    position: relative;
    color: white; }
footer .sections .section:first-child .messegers ul li a:hover {
    color: white;
    animation: rot .25s linear; }
footer .sections .section:first-child .messegers ul li a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: .5s; }
footer .sections .section:first-child .messegers ul li a:hover:before {
    transform: scale(1); }
footer .sections .section:first-child .messegers ul li a i {
    z-index: 3; }
footer .sections .section .spisok .title {
    color: #9c9fbf;
    font-weight: bold;
    font-size: 16px; }
footer .sections .section .spisok ul li a {
    font-size: 14px; }

@keyframes rot {
    0% {
        transform: rotate(0deg); }
    25% {
        transform: rotate(90deg); }
    50% {
        transform: rotate(180deg); }
    75% {
        transform: rotate(270deg); }
    100% {
        transform: rotate(360deg); } }

@media (max-width: 1313px) {
    .tabs .tabs-header .menu_lk .menu ul {
        display: flex; }
    .tabs .tabs-header .menu_lk .menu ul li:last-child a:before {
        width: 0px; }
    .tabs .tabs-header .menu_lk .menu ul a {
        padding: 0 20px; }
    .tabs .tabs-header .menu_lk .menu ul a .icon {
        margin: 0; }
    .tabs .tabs-header .menu_lk .menu ul a .text {
        display: none; }
    .tabs .tabs-header .menu_lk .lk ul {
        width: 200%; } }

@media (max-width: 992px) {
    .lk {
        padding-right: 10px; } }

@media (max-width: 850px) {
    .bookmarks {
        width: 95%; }
    .bookmarks .bookmarks-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0px;
        border-bottom: 1px solid #9131c2;
        padding-left: 0px; }
    .bookmarks .bookmarks-header .bookmarks-header__item {
        padding: 10px 15px;
        border: 0;
        margin: 10px 0 0 0;
        cursor: pointer;
        margin-bottom: 0px;
        position: relative;
        font-size: 24px; }
    .bookmarks .bookmarks-header .bookmarks-header__item:before {
        position: absolute;
        content: '';
        width: 1px;
        height: 55%;
        background: #9131c2;
        left: 1px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        display: none; }
    .bookmarks .bookmarks-header .bookmarks-header__item:hover:before {
        display: block; }
    .bookmarks .bookmarks-header .bookmarks-header__item:hover {
        color: #9131c2;
        border: none;
        border-radius: 0; }
    .bookmarks .bookmarks-header .bookmarks-header__item.active {
        color: #9131c2;
        border: none;
        background: white;
        padding-bottom: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0;
        position: relative; }
    .bookmarks .bookmarks-header .bookmarks-header__item.active:before {
        position: absolute;
        content: '';
        width: 1px;
        height: 55%;
        background: #9131c2;
        left: 1px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        display: block; } }

@media (max-width: 805px) {
    .packages {
        width: 100%;
        margin-top: 0px; }
    .packages .packages_section {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
    .packages .packages_section .package {
        position: relative;
        margin: 5px;
        border-radius: 10px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: 0.3s;
        padding: 10px 20px; }
    .packages .packages_section .package:hover:before {
        left: -50%;
        transition: 0.3s; }
    .packages .packages_section .package .text {
        font-size: 20px;
        color: white;
        font-family: 'Fira Sans', sans-serif;
        z-index: 2; }
    .packages .packages_section .package .fon {
        position: absolute;
        height: 100%;
        width: 100%;
        background: url(../img/krist1.gif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3; }
    .packages .packages_section .package:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: -110%;
        background: rgba(255, 255, 255, 0.3);
        transform: skewX(-13deg);
        background-size: 200%; }
    .packages .packages_section .package:nth-child(1) {
        padding: 10px 40px;
        background: #8500cc;
        width: calc(80% + 10px); }
    .packages .packages_section .package:nth-child(2) {
        background: #cee000;
        width: 40%; }
    .packages .packages_section .package:nth-child(3) {
        background: #e6a800;
        width: 40%; }
    .packages .packages_section .package:nth-child(4) {
        background: #ff1414;
        width: 40%; }
    .packages .packages_section .package:nth-child(5) {
        background: #00b050;
        width: 40%; } }

@media (max-width: 768px) {
    .tabs {
        width: 100%;
        margin: 0px auto;
        font-family: 'Montserrat', sans-serif; }
    .tabs .tabs-header {
        height: 70px;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        justify-content: space-between;
        background: linear-gradient(180deg, #9532c7 0%, black 130%); }
    .tabs .tabs-header .logo {
        margin: 0px 20px;
        height: 55px; }
    .tabs .tabs-header .logo img {
        height: 100%; }
    .tabs .tabs-header .burg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        padding: 0 5px;
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
        position: relative; }
    .tabs .tabs-header .burg span {
        width: 25px;
        height: 2px;
        display: block;
        background: white;
        transition: .1s all;
        position: relative; }
    .tabs .tabs-header .burg span:before {
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        background: white;
        top: 7px; }
    .tabs .tabs-header .burg span:after {
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        background: white;
        bottom: 7px }
    .tabs .tabs-header .menu_lk {
        overflow: scroll;
        overflow-x: hidden;
        align-items: center;
        position: fixed;
        top: 0;
        right: -75%;
        height: 100%;
        width: 70%;
        z-index: 3;
        background: #371950;
        flex-direction: column;
        transition: .3s; }
    .tabs .tabs-header .menu_lk.active {
        right: 0%; }
    .tabs .tabs-header .menu_lk::-webkit-scrollbar {
        display: none; }
    .tabs .tabs-header .menu_lk .menu {
        background: #371950;
        width: 100%; }
    .tabs .tabs-header .menu_lk .menu.active {
        right: 0; }
    .tabs .tabs-header .menu_lk .menu .burg_open {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        padding: 0 5px;
        margin: 17px 21px -52px 0;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        right: 0;}
    .tabs .tabs-header .menu_lk .menu .burg_open span {
        width: 25px;
        height: 0px;
        display: block;
        background: white;
        transition: .1s all;
        position: relative; }
    .tabs .tabs-header .menu_lk .menu .burg_open span:before {
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        background: white;
        bottom: -1px;
        transform: rotate(45deg); }
    .tabs .tabs-header .menu_lk .menu .burg_open span:after {
        position: absolute;
        content: '';
        width: 25px;
        height: 2px;
        background: white;
        bottom: -1px;
        transform: rotate(-45deg); }
    .tabs .tabs-header .menu_lk .menu ul {
        display: block;
        margin-top: 70px; }
    .tabs .tabs-header .menu_lk .menu ul li {
        margin-bottom: 10px; }
    .tabs .tabs-header .menu_lk .menu ul li:last-child a:before {
        width: 0; }
    .tabs .tabs-header .menu_lk .menu ul li a {
        background: #9131c2;
        height: 65px;
        border: 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        padding: 0 20px;
        border-radius: 0;
        position: relative; }
    .tabs .tabs-header .menu_lk .menu ul li a:before {
        opacity: 0; }
    .tabs .tabs-header .menu_lk .menu ul li a .icon {
        height: 100%;
        width: 30px;
        color: white;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px; }
    .tabs .tabs-header .menu_lk .menu ul li a .text {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        color: white;
        font-size: 14px; }
    .tabs .tabs-header .menu_lk .menu ul li a:hover .icon {
        padding-bottom: 3px;
        box-sizing: border-box; }
    .tabs .tabs-header .menu_lk .menu ul li a:hover .text:before {
        position: absolute;
        content: '';
        background: white;
        bottom: 24px;
        width: 100%;
        height: 1px; }
    .tabs .tabs-header .menu_lk .menu ul .active a {
        background: white; }
    .tabs .tabs-header .menu_lk .menu ul .active a .icon {
        color: #9432c6; }
    .tabs .tabs-header .menu_lk .menu ul .active a .text {
        color: #9432c6; }
    .tabs .tabs-header .menu_lk .menu ul .active a:hover .icon {
        padding-bottom: 0; }
    .tabs .tabs-header .menu_lk .menu ul .active a:before {
        opacity: 0; }
    .tabs .tabs-header .menu_lk .lk {
        user-select: none;
        width: 100%;
        height: 50px;
        border: 0;
        margin-top: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0;
        align-items: center;}
    .tabs .tabs-header .menu_lk .lk ul {
        right: 0;
        width: 100%;
        top: 60px;
        display: none;
        background: #230b2e;
        border-radius: 0 0 0 10px;
        overflow: hidden;
        z-index: 1; }
    .tabs .tabs-header .menu_lk .lk ul.act {
        display: block; }
    .tabs .tabs-header .menu_lk .lk ul li {
        width: 100%; }
    .tabs .tabs-header .menu_lk .lk ul li:last-child a {
        border: none; }
    .tabs .tabs-header .menu_lk .lk ul li a {
        text-decoration: none !important;
        margin: 0;
        color: white;
        height: auto;
        font-size: 14px;
        background: #230b2e;
        border-radius: 0;
        display: block;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid #9432c6; }
    .tabs .tabs-header .menu_lk .lk ul li a:hover {
        background: #9432c6; }
    .tabs .tabs-header .menu_lk .lk ul li a:before {
        display: none; }
    .tabs .tabs-header .menu_lk .lk .icon{
        height: 50px;}
    .tabs .tabs-header .menu_lk .lk .img {
        height: 50px;
        width: 50px; }

    .packages {
        width: 100%;
        margin-top: 40px; }
    .packages .packages_section {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
    .packages .packages_section .package {
        position: relative;
        margin: 1px;
        border-radius: 10px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: 0.3s;
        padding: 5px 10px; }
    .packages .packages_section .package:hover:before {
        left: -50%;
        transition: 0.3s; }
    .packages .packages_section .package .text {
        font-size: 16px;
        color: white;
        font-family: 'Fira Sans', sans-serif;
        z-index: 2; }
    .packages .packages_section .package .fon {
        position: absolute;
        height: 100%;
        width: 100%;
        background: url(../img/krist1.gif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3; }
    .packages .packages_section .package:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: -110%;
        background: rgba(255, 255, 255, 0.3);
        transform: skewX(-13deg);
        background-size: 200%; }
    .packages .packages_section .package:nth-child(1) {
        padding: 10px 20px;
        background: #8500cc;
        width: 100%;
        margin-bottom: 10px; }
    .packages .packages_section .package:nth-child(2) {
        background: #cee000;
        width: calc(50% - 25px);
        margin: 0 5px 10px 0; }
    .packages .packages_section .package:nth-child(3) {
        background: #e6a800;
        width: calc(50% - 25px);
        margin: 0 0 10px 5px; }
    .packages .packages_section .package:nth-child(4) {
        background: #ff1414;
        width: calc(50% - 25px);
        margin: 0 5px 0 0; }
    .packages .packages_section .package:nth-child(5) {
        background: #00b050;
        width: calc(50% - 25px);
        margin: 0 0 0 5px; }
    .packages {
        width: 100%;
        margin-top: 0px; }
    .number_packages {
        font-size: 18px;
        font-weight: bold; }
    footer .sections .section {
        font-size: 12px; } }

/*# sourceMappingURL=style_dev.css.map */


/*.navigation-tabs_params{
    margin-bottom: 30px;
}*/
.retailers_params{
    margin-bottom: 30px;
}
.retailers__item_params{
    margin-bottom: 20px;
}
.retailers__title{
    margin-top: 10px;
}
.retailers__search{
    margin-top: 15px;
}
.retailers__title-header{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}
.retailers__item-icon{
    display: inline-block;
    width: 100%;
    max-width: 165px;
    height: 100px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    border: silver 1px solid;

}
.retailers__item-icon:hover{
    border: none;
}
.services-shop_params{
    margin-bottom: 30px;
}
.services-shop__item_params{
    margin-bottom: 20px;
}
.services-shop__item-icon{
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 165px;
    height: 195px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position-x: center;
    background-position-y: 30px;
    background-size: 90px;
    border: silver 1px solid;
}

.services-shop__item_header{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.services-shop__item_registration{
    background-image: url("../images/servicesicons/order.svg");
}
.services-shop__item_shipment{
    background-image: url("../images/servicesicons/shipment.svg");
}
.services-shop__item_open-box{
    background-image: url("../images/servicesicons/open-box.svg");
}
.services-shop__item_delivery{
    background-image: url("../images/servicesicons/delivery.svg");
}
.services-shop__item_delivery-gift{
    background-image: url("../images/servicesicons/delivery-gift.svg");
}
.services-shop__item_delivery-vip{
    background-image: url("../images/servicesicons/delivery-vip.svg");
}

.services-shop__item-icon_hover{
    border: silver 1px dotted;
}
