.newsItem {
    height: 650px;
}
.newsItem .header {
    height: 70px;
    vertical-align: bottom;
}

.blogItem {
    height: 650px;
}
.blogItem .header {
    height: 70px;
    vertical-align: bottom;
}

.unityItem {
    height: 650px;
}
.unityItem .header {
    height: 70px;
    vertical-align: bottom;
}

.unityCategoryItem {
    height: 650px;
}
.unityCategoryItem .header {
    height: 70px;
    vertical-align: bottom;
}

.articleItem {
    height: 650px;
}
.articleItem .header {
    height: 70px;
    vertical-align: bottom;
}
.chennelingItem {
    border-bottom: 1px solid #eee;
}
.chennelingItem .header {
    height: 70px;
    vertical-align: bottom;
}
