@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
*{
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mt-1{
  margin-top: 5px!important;
}
.mt-2{
  margin-top: 28px!important;
}
.mt-3{
  margin-top: 30px!important;
}

.plans__item{
  position: relative;
  background: #e5e5e5; /* Для старых браузров */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #b3b3b3 100%);
  padding-top: 26px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  text-align: center;
  cursor: default;
}

.plans__item h1,
.plans__item h2{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
}

.plans__item-h1{
  font-size: 55px;
  color: #999999;
}
.plans__item_h1_hover{
  color: #ffffff;
}
.plans__item_h1_click{
  color: #ffffff;
}

.plans__item-h2{
  display: inline-block;
  width: 100%;
  position: absolute;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  left: 0;
  bottom: 23px;
}


.plans__item_size{
  height: 165px;
  width: 165px;
  border-radius: 15px;
}

.plans__item-hr{
  position: absolute;
  display: inline-block;
  width: 163px;
  border: none; /* Убираем границу для браузера Firefox */
  height: 10px; /* Толщина линии */
  margin: 0;
  left: 0;
  bottom: 63px;
}

.plans__item-hr_hover{
  background: linear-gradient(to left, #ffffff, #b3b3b3);
}
.plans__item-hr_click{
  background: linear-gradient(to left, #ffffff, #b3b3b3);
}



.plans__item_3year h1{
  font-weight: 800;
}
.plans__item_3year .plans__item-hr{
  color: #02007e; /* Цвет линии для остальных браузеров */
  background-color: #02007e; /* Цвет линии для браузера Firefox и Opera */
}
.plans__item_3year_hover{
  background: #02007e;
}
.plans__item_3year_click{
  background: #02007e;
}




.plans__item_2year h1{font-weight: 800;}
.plans__item_2year .plans__item-hr{
  color: #009dff; /* Цвет линии для остальных браузеров */
  background-color: #009dff; /* Цвет линии для браузера Firefox и Opera */
}
.plans__item_2year_hover{
  background: #009dff;
}
.plans__item_2year_click{
  background: #009dff;
}


.plans__item_1year h1{font-weight: 700;}
.plans__item_1year .plans__item-hr{
  color: #e00000; /* Цвет линии для остальных браузеров */
  background-color: #e00000; /* Цвет линии для браузера Firefox и Opera */
}
.plans__item_1year_hover{
  background: #e00000;
}
.plans__item_1year_click{
  background: #e00000;
}

.plans__item_6months h1{font-weight: 700;}
.plans__item_6months .plans__item-hr{
  color: #660066; /* Цвет линии для остальных браузеров */
  background-color: #660066; /* Цвет линии для браузера Firefox и Opera */
}
.plans__item_6months_hover{
  background: #660066;
}
.plans__item_6months_click{
  background: #660066;
}

.plans__item_3months h1{font-weight: 600;}
.plans__item_3months .plans__item-hr{
  color: #ff0066; /* Цвет линии для остальных браузеров */
  background-color: #ff0066; /* Цвет линии для браузера Firefox и Opera */
}
.plans__item_3months_hover{
  background: #ff0066;
}
.plans__item_3months_click{
  background: #ff0066;
}

.plans__item_1months h1{font-weight: 600;}
.plans__item_1months .plans__item-hr{
  color: #ffcc00; /* Цвет линии для остальных браузеров */
  background-color: #ffcc00; /* Цвет линии для браузера Firefox и Opera */
}
.plans__item_1months_hover{
  background: #ffcc00;
}
.plans__item_1months_click{
  background: #ffcc00;
}

.plans__item_20days h1{font-weight: 500;}
.plans__item_20days .plans__item-hr{
  color: #00ccff; /* Цвет линии для остальных браузеров */
  background-color: #00ccff; /* Цвет линии для браузера Firefox и Opera */
}
.plans__item_20days_hover{
  background: #00ccff;
}
.plans__item_20days_click{
  background: #00ccff;
}

.plans__item_10days h1{font-weight: 500;}
.plans__item_10days .plans__item-hr{
  color: #33cc33; /* Цвет линии для остальных браузеров */
  background-color: #33cc33; /* Цвет линии для браузера Firefox и Opera */
}
.plans__item_10days_hover{
  background: #33cc33;
}

.plans__item_10days_click{
  background: #33cc33;
}

.calculator{
  position: relative;
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 80%, #b3b3b3 100%);
  padding-top: 26px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  border-radius: 15px;
  padding-bottom: 94px;
  text-align: center;
}
.calculator_bg{
  background: none!important;
}

.calculator__h2{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  position: absolute;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  left: 0;
  bottom: 23px;
}

.calculator__hr{
  position: absolute;
  display: inline-block;
  width: 100%;
  border: none;
  height: 10px;
  margin: 0;
  left: 0;
  bottom: 63px;
  color: #750F0B;
  background-color: #750F0B;
}
.calculator-btn-item_clicked{
  background: #33cc33!important;
  color: #ffffff!important;
  font-weight: 500!important;
}

.plans__item-time{
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.plans__item-sum_n{
  text-align: center;
}

.case{
  position: relative;
  background: #ffffff;
  padding-top: 8px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  border-radius: 15px;
  padding-bottom: 26px;
  text-align: center;
}
.case__h1{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  color: #750F0B;
}
.case__title-active{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  padding-top: 9px;
  color: #b3b3b3;
}
.case__title-active-val{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  padding-top: 9px;
  color: #000000;
}
.case__title-summ{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  padding-top: 9px;
  color: #b3b3b3;
}

.case__title-summ-val{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  padding-top: 9px;
  color: #000000;
}
.case__title-profitableness{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  padding-top: 9px;
  color: #b3b3b3;
}


.case__title-profitableness-val{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  padding-top: 9px;
  color: #000000;
}

.case__title-period{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  padding-top: 9px;
  color: #b3b3b3;
}

.case__title-period-val{
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  padding-top: 9px;
  color: #000000;
}


.case__item {
  margin-top: 20px;
  overflow:hidden;
}
.case__item:after{
  content:'. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
  display:block;
  white-space:nowrap;
  overflow:hidden;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  margin-top: -6px;
  color: #b3b3b3;
}
.case__item-left {
  float:left;
}
.case__item-right {
  float:right;
}
.case__item-btn {
  margin-top: 20px;
}

.case__btn{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px!important;
  font-weight: 600!important;
}

.oilChart{
  background: #ffffff;
  padding-top: 46px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  border-radius: 15px;
  padding-bottom: 46px;
  text-align: center;
}

.speedChart{
  background: #ffffff;
  padding-top: 46px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  border-radius: 15px;
  padding-bottom: 46px;
  text-align: center;
}

.news-left{
  background: #ffffff;
  /*padding-top: 46px;*/
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  /*padding-bottom: 46px;*/
  text-align: center;
}

/*----------------Портфели-----------------*/

.block1{
  font-family: 'Fira Sans Condensed', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9e9e9e,#fff);
  z-index: 2;
  position: relative;
  min-height: 600px;
}

.block1_cent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.box{
  position: relative;
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #cccccc;
  box-shadow: -10px 25px 50px rgba(0,0,0,.3);
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;
}

.box:hover{
  box-shadow: -10px 25px 50px rgba(0,0,0,.6);
}

.block1_content{
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Cuprum', sans-serif;
}


.time{
  position: absolute;
  font-size: 35px;
  top: 18px;
  left: -16px;
  transform: rotate(-45deg); 
  width: 100%;
  text-align: center;
}
.time_number{
  font-size: 60px;
}
.slash{
  top: 50%;
  left: -5%;
  content: '';
  position: absolute;
  height: 4px;
  width: 110%;
  background: white;
  transform: rotate(-45deg); 
}
.sum_n{
  position: absolute;
  font-size: 70px;
  bottom: 6px;
  right: -28px;
  transform: rotate(-45deg);
  width: 100%;
  text-align: center;
}


.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.block1 .box.box1:hover ~ .bg{
  background: linear-gradient(#000dff,#fff);
}
.block1 .box.box1:hover{
  background: linear-gradient(#000dff 60%, #fff);
}

.block1 .box.box2:hover ~ .bg{
  background: linear-gradient(#00bbff,#fff);
}
.block1 .box.box2:hover{
  background: linear-gradient(#00bbff 60%, #fff);
}

.block1 .box.box3:hover ~ .bg{
  background: linear-gradient(#ff3030,#fff);
}
.block1 .box.box3:hover{
  background: linear-gradient(#ff3030 60%, #fff);
}

.block1 .box.box4:hover ~ .bg{
  background: linear-gradient(#7724bf,#fff);
}
.block1 .box.box4:hover{
  background: linear-gradient(#7724bf 60%, #fff);
}

.block1 .box.box5:hover ~ .bg{
  background: linear-gradient(#E91E61,#fff);
}
.block1 .box.box5:hover{
  background: linear-gradient(#E91E61 60%, #fff);
}

.block1 .box.box6:hover ~ .bg{
  background: linear-gradient(#ffd000,#fff);
}
.block1 .box.box6:hover{
  background: linear-gradient(#ffd000 60%, #fff);
}

.block1 .box.box7:hover ~ .bg{
  background: linear-gradient(#03A9F4,#fff);
}
.block1 .box.box7:hover{
  background: linear-gradient(#03A9F4 60%, #fff);
}

.block1 .box.box8:hover ~ .bg {
  background: linear-gradient(#00ff00,#fff);
}
.block1 .box.box8:hover{
  background: linear-gradient(#00ff00 60%, #fff);
}

/*---------------ползунки---------------*/
.ranges{
  margin: 10px 0 80px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.range_block{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto; 
}

.input_range{
  width: 80%;
}

.range1{
  margin: 20px auto;
  width: 100%;
  height: 15px;
  background: #f2c85c;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  outline: none;
  border: none;
}
.range2{
  margin: 20px auto;
  width: 100%;
  height: 15px;
  background: #aaff6e;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  outline: none;
  border: none;
}
.range3{
  margin: 20px auto;
  width: 100%;
  height: 15px;
  background: #dedede;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  outline: none;
  border: none;
}

.range1::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%;
  background: #ffae00;
  cursor: pointer;
}
.range1::-webkit-slider-thumb:hover{
  width: 28px;
  height: 28px;
  box-shadow: 0px 0px 4px #9e9e9e;
}
.range2::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%;
  background: #98e85f;
  cursor: pointer;
}
.range2::-webkit-slider-thumb:hover{
  width: 28px;
  height: 28px;
  box-shadow: 0px 0px 4px #9e9e9e;
}
.range3::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%;
  background: #cccccc;
  cursor: pointer;
}
.range3::-webkit-slider-thumb:hover{
  width: 28px;
  height: 28px;
  box-shadow: 0px 0px 4px #9e9e9e;
}




.icon_range{
  height: 50px;
  margin-right: 10px;
}
.icon_range img{
  height: 100%;
}

/*------------новостная лента-----------*/
.news{
  width: 40%;
  height: 525px;
  display: flex;
  justify-content: center;
  color: #9e9e9e;
  font-family: 'Exo 2', sans-serif;
}

.news_block{
  width: 350px;
  height: 680px;
  background: white;
  border-radius: 8px;
  overflow: scroll;
  overflow-x:hidden;
  border: 1px solid #cccccc;
}

.news_one{
  margin: 10px 10px 20px 15px;
  padding: 0 20px 0px 15px; 
  border-left: 3px solid #cccccc;
  position: relative;
}
.news_one:last-child{
  padding: 0 20px 0px 15px; 
}
.news_one:last-child:before{
  display: none;
}

.news_one:after{
  content: '';
  position: absolute;
  top: -1px;
  left: -7px;
  width: 11px;
  height: 11px;
  background: #cccccc;
  border-radius: 10px;
}

.news_title{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.news_date{
  font-size: 12px;
  padding: 10px 0 5px 0;
  font-weight: bold;
}
.news_text{
  font-size: 15px;
  display: none;
}
.news_text.active{
  display: block;
}

.news_block::-webkit-scrollbar {
    width: 10px;
    background: #ededed;
    border-radius: 15px;
}

.news_block::-webkit-scrollbar-thumb{
  background: #cccccc;
  border-radius: 15px;
}

.news_one .btn_n{
  cursor: pointer;
  position: relative;
  color: #9e9e9e !important;
  padding: 6px 12px 6px 0 !important;
}
.news_one .btn_n:hover{
  color: #9e9e9e !important
}


.fas.fa-angle-down{
  margin-left: 4px;
  position: absolute;
  bottom: 7px;
}
.btn_n.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}




/*---------------График 2-----------------*/
.diagramm_circle{
  width: 40%;
}

.block2{
  width: 80%;
  margin: 80px auto 20px auto;
}

.block3{
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

@media(max-width: 768px){
  .block2{
    width: 95%;
    margin: 20px auto;
  }
  .block3{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
  }

  .news{
    margin: 40px auto;  
    width: 80%;
  }
  .news_block{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;
    overflow: scroll;
    overflow-x:hidden;
    border: 1px solid #cccccc;
  }

  .diagramm_circle{
    width: 100%;
    padding: 0 20px;
  }

  .range_block{
    width: 90%;
  }

  .range{
    width: 100%;
  }
}

